:root{
    --white: #FFFFFF;
    --gray: #5E717F;
    --white1: #F2F2FA;
    --acqua-green: #7EDDD3;
    --dark-acqua-green: #05868E;
    --dark-blue: #071A28;
    --dark-elegant: #051C2C;
    --dark-blue-medium: #0D2434 
}


.link--primary {
    text-decoration: none;
    color: var(--white);
    transition: .2s all;
}

.link--primary:hover {
    text-decoration: underline;
    text-underline-offset: 4px;

}

.link--secondary {
    color: var(--gray);
    opacity: 0.8;

    font-size: 1rem;
    text-underline-offset: 5px;
}

.link--secondary:hover {
    opacity: 0.8;
}

.btn--base{
    width: 100%;
    height: 3.0625rem;
    padding: .875rem 0;
    border: none;
    border-radius: .25rem;
    color: var(--white);
    font-size: 1rem; 
    cursor: pointer;
}

.btn--dark-acqua-green{
    background-color: var(--dark-acqua-green);
    transition: 0.5s smooth;
}

.btn--dark-acqua-green:hover{
    background-color: #239DA5;
}

.btn--gray{
    background-color: #132634;
    transition: 0.5s smooth;
}

.btn--gray:hover{
    border: 1px solid var(--acqua-green);
}

small{
    visibility: hidden;
}

.input--base{
    width: 100%;
    background-color: #132634;
    border: none;
    border-radius: .25rem;
    padding: .875rem;
    padding-left: 2.625rem;
    color: var(--gray);
}

.input--base::placeholder{
    color: var(--gray);
    font-size: 1rem;
}

.input--base:focus{
    outline: 1px solid var(--dark-acqua-green);
}

/* Códigos inseridos pelo Arthur */

.input--base--radio{
    display: inline;
}