*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
}

aside{
    width: 20%;
    height: 100vh;
    background-color: orange;
}

main{
    width: 80%;
    height: 100vh;
}

