*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

.menu {
    min-height: 100vh;
    width: 350px;
    background-color: var(--dark-elegant);
}

#logo-space {
    min-height: 20%;
    max-height: 20%;
    height: 20%;
    /* background-color: #b1a1a1; */
}

#logo-space img {
    width: 250px;
    padding: 25px;
}

.rotas {
    margin-top: 10px;
    list-style-type: none;
}

.li-rotas {
    /* padding-block: 20px; */
    height: 70px;
    font-size: 20px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
        
}

.li-rotas:hover {
    background-color: var(--dark-blue-medium);
    border-left: 8px solid var(--dark-acqua-green);
}

.links-rotas {
    text-decoration: none;
    color: var(--white1);
    margin-left: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.route-active {
    background-color: var(--dark-blue-medium);
    border-left: 8px solid var(--dark-acqua-green);
}



