*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

.menu {
    /* Alterações do arthur */
    height: 100vh;
    width: 350px;
    background-color: var(--dark-elegant);
    min-width: 350px;
    position: relative;
    
}

#logo-space {
    min-height: 250px;
    max-height: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    /* background-color: #b1a1a1; */
}

#logo-space img {
    width: 250px;
    padding: 25px;
}

.rotas {
    margin-top: 10px;
    list-style-type: none;
}

.li-rotas {
    height: 70px;
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: center;

}

.li-rotas:hover, .logout:hover {
    background-color: var(--dark-blue-medium);
    border-left: 8px solid var(--dark-acqua-green);
}

.links-rotas {
    text-decoration: none;
    color: var(--white1);
    margin-left: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.links-rotas > i, .logout > i {
    color: var(--dark-acqua-green);
    margin-right: 10px;

}

.route-active {
    background-color: var(--dark-blue-medium);
    border-left: 8px solid var(--dark-acqua-green);
}

.logout {
    width: 100%;
    height: 70px;
    font-size: 20px;
    /* width:  */
    display: flex;
    position: absolute;
    bottom: 0;
    white-space: nowrap;
    background-color: var(--dark-elegant);
    border: none;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
}

.logout i {
    margin-left: 15px;
}
