body {
    background-color: var(--dark-elegant);
    display: flex;
    color: white;
}

#mainjornadas {
    width: calc(100% - 350px);
    margin: 2rem;
    background-color: #041725;
    border-radius: 12px;
    overflow: hidden;
}

.header {
    padding: 2rem;
    margin: 1.5em;
    border-radius: 12px;
    background-color: #051C2C;
    border-left: 10px solid var(--dark-acqua-green);
}

.header p {
    font-weight: 300;
    color: var(--dark-acqua-green);
}

.universidades {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    /* gap: 10px; */
}

.universidade {
    display: flex;
    gap: 20px;
    padding: 1rem;
    margin: 1.5rem;
    border-radius: 12px;
    background: #051C2C;
    transition: .2s ease-in-out all;
}

.universidade:hover {
    transform: scale(1.01);
}

.universidade .detalhes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.universidade img {
    max-width: 100%;
    height: auto;
    /* width: px; */
    width: 180px;
}

.universidade .detalhes hr {
    width: 70px;
    border: 2px solid var(--dark-acqua-green);

}

.universidade .detalhes hr {
    width: 70px;
    border: 2px solid var(--dark-acqua-green);
}

.universidade .detalhes > div > span{
    color: #95ACBC
}


.universidade > .detalhes > div > i {
    background-color: var(--dark-acqua-green);
    padding: 5px;
    border-radius: 4px;
    width: 30px;
    text-align: center;
    color: var(--acqua-green);
    margin-right: 10px;
    /* font-size: 15px; */
}



.universidade > .detalhes > div > i:last-child {
    font-size: 20px;
}
